# General
HELP.md

# Ignore target directories in the backend
/backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS (Spring Tool Suite) files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA files
.idea
*.iws
*.iml
*.ipr

# VS Code files
.vscode/
